<div class="container">
    <div id="content" class="content p-0">
        <div class="profile-header">
            <div class="profile-header-cover"></div>
    
            <div class="profile-header-content">
                <div class="profile-header-img">
                    <img [src]="imageUrl" />
                </div>
    
                <div class="profile-header-info">
                    <h4 class="m-t-sm">{{user.userName}}</h4>
                    <p class="m-b-sm">{{user.workingAt}}</p>
                </div>
            </div>
    
            <ul class="profile-header-tab nav nav-tabs">
                <li class="nav-item"><a (click)="getposts('text')" class="nav-link" data-toggle="tab">Posts</a></li>
                 <li class="nav-item"><a (click)="getposts('photos')"  class="nav-link" data-toggle="tab">PHOTOS</a></li>
                <li class="nav-item"><a (click)="getposts('videos')"  class="nav-link active show" data-toggle="tab">VIDEOS</a></li>
               
            
            </ul>
        </div>
    
        <div class="profile-container">
            <div class="row row-space-20">
                <div class="col-md-9">
                    <div class="tab-content p-0">
                        <div class="tab-pane active show" *ngIf=videos id="profile-videos">
                            <div class="m-b-10"><b>Videos</b></div>
    
                            <div class="row row-space-2">
                                <div class="col-sm-8">
                                    <div *ngFor="let video of VideoShouts"class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <video
                                        id="myVideo"
                                        class="video-fluid z-depth-1"
                                        autoplay
                                        loop
                                        controls
                                        muted
                                      >
                                        <source [src]="video.file" type="video/mp4" />
                                      </video>
                                    </div>
                                </div>
    
                                <!-- <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/izsjRpcgfmk?showinfo=0"></iframe>
                                    </div>
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/j876xgnTVUg?showinfo=0"></iframe>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row row-space-2">
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wUqH_5memWY?showinfo=0"></iframe>
                                    </div>
                                </div>
    
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wXmu-EYAmKU?showinfo=0"></iframe>
                                    </div>
                                </div>
    
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xS1DghfzuMc?showinfo=0"></iframe>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row row-space-2">
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v3ZkCLUFrys?showinfo=0"></iframe>
                                    </div>
                                </div>
    
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/toPm-L7Ib44?showinfo=0"></iframe>
                                    </div>
                                </div>
    
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qD8OnPC1fLI?showinfo=0"></iframe>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row row-space-2">
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Guo7gR0XyaU?showinfo=0"></iframe>
                                    </div>
                                </div>
    
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ADfIlLfs5Bk?showinfo=0"></iframe>
                                    </div>
                                </div>
    
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8Wg1MYjOguI?showinfo=0"></iframe>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row row-space-2">
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LbpHB9wbDhY?showinfo=0"></iframe>
                                    </div>
                                </div>
    
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oVWBFkaXMyw?showinfo=0"></iframe>
                                    </div>
                                </div>
    
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/90PRvlhOLSk?showinfo=0"></iframe>
                                    </div>
                                </div>
                            </div> -->
                            </div>
                        </div>
                        <div class="tab-pane active show" *ngIf=images id="profile-videos">
                            <div class="m-b-10"><b>Photos</b></div>
    
                            <div class="row row-space-2">
                                <div *ngFor="let image of ImageShouts" class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <img class="embed-responsive-item" [src]=image.file>
                                    </div>
                                    <p>{{image.caption}}</p>
                                </div>
    
                                <!-- <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/izsjRpcgfmk?showinfo=0"></iframe>
                                    </div>
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/j876xgnTVUg?showinfo=0"></iframe>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row row-space-2">
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wUqH_5memWY?showinfo=0"></iframe>
                                    </div>
                                </div>
    
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wXmu-EYAmKU?showinfo=0"></iframe>
                                    </div>
                                </div>
    
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xS1DghfzuMc?showinfo=0"></iframe>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row row-space-2">
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v3ZkCLUFrys?showinfo=0"></iframe>
                                    </div>
                                </div>
    
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/toPm-L7Ib44?showinfo=0"></iframe>
                                    </div>
                                </div>
    
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qD8OnPC1fLI?showinfo=0"></iframe>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row row-space-2">
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Guo7gR0XyaU?showinfo=0"></iframe>
                                    </div>
                                </div>
    
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ADfIlLfs5Bk?showinfo=0"></iframe>
                                    </div>
                                </div>
    
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8Wg1MYjOguI?showinfo=0"></iframe>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row row-space-2">
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LbpHB9wbDhY?showinfo=0"></iframe>
                                    </div>
                                </div>
    
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oVWBFkaXMyw?showinfo=0"></iframe>
                                    </div>
                                </div>
    
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/90PRvlhOLSk?showinfo=0"></iframe>
                                    </div>
                                </div>
                            </div> -->
                            </div>
                        </div>
                        <div class="tab-pane active show" *ngIf=text id="profile-videos">
                            <div class="m-b-10"><b>POSTS</b></div>
    
                            <div class="row row-space-2">
                                <div class="col-sm-8">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3Kf-FlECN7M?showinfo=0"></iframe>
                                    </div>
                                </div>
    
                                <!-- <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/izsjRpcgfmk?showinfo=0"></iframe>
                                    </div>
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/j876xgnTVUg?showinfo=0"></iframe>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row row-space-2">
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wUqH_5memWY?showinfo=0"></iframe>
                                    </div>
                                </div>
    
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wXmu-EYAmKU?showinfo=0"></iframe>
                                    </div>
                                </div>
    
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xS1DghfzuMc?showinfo=0"></iframe>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row row-space-2">
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v3ZkCLUFrys?showinfo=0"></iframe>
                                    </div>
                                </div>
    
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/toPm-L7Ib44?showinfo=0"></iframe>
                                    </div>
                                </div>
    
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qD8OnPC1fLI?showinfo=0"></iframe>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row row-space-2">
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Guo7gR0XyaU?showinfo=0"></iframe>
                                    </div>
                                </div>
    
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ADfIlLfs5Bk?showinfo=0"></iframe>
                                    </div>
                                </div>
    
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8Wg1MYjOguI?showinfo=0"></iframe>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row row-space-2">
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LbpHB9wbDhY?showinfo=0"></iframe>
                                    </div>
                                </div>
    
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oVWBFkaXMyw?showinfo=0"></iframe>
                                    </div>
                                </div>
    
                                <div class="col-sm-4">
                                    <div class="embed-responsive embed-responsive-16by9 m-b-2">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/90PRvlhOLSk?showinfo=0"></iframe>
                                    </div>
                                </div>
                            </div> -->
                            </div>
                        </div>

                    </div>
                </div>
    
                <div class="col-md-3 hidden-xs hidden-sm">
                    <ul class="profile-info-list">
                        <li class="title">PERSONAL INFORMATION</li>
                        <li>
                            <div class="field">Work Place:</div>
                            <div class="value">{{user.workingAt}}</div>
                        </li>
                        <li>
                            <div class="field">Skills:</div>
                            <div class="value">C++,PHP,JAVA, HTML5, CSS, jQuery, MYSQL, Laravel, Bootstrap, Angular JS, Asp.net</div>
                        </li>
                        <li>
                            <div class="field">Birth of Date:</div>
                            <div class="value">{{user.dob}}</div>
                        </li>
                        <li>
                            <div class="field">Country:</div>
                            <div class="value">India</div>
                        </li>
                        <li>
                            <div class="field">Address:</div>
                            <div class="value">
                                <address class="m-b-0">
                                    {{user.address}}
                                </address>
                            </div>
                        </li>
                        <li>
                            <div class="field">Phone No.:</div>
                            <div class="value">
                                {{user.mobileNo}}
                            </div>
                        </li>
                        <li class="title">FRIEND LIST (9)</li>
                        <li class="img-list">
                            <!-- <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" /></a>
                            <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" /></a>
                            <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" /></a>
                            <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" /></a>
                            <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" /></a>
                            <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" /></a>
                            <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="" /></a>
                            <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" /></a>
                            <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" /></a> -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
