<!-- <h1>{{commentUsers}}</h1> -->
<div style="margin-left: 100px; margin-right: 50px;"> 
  <div class="profile-page tx-13" > 
    <div class="row profile-body">
      <!-- <div class="row d-flex align-items-right justify-content-right"> -->
      <div class="col-md-7">
        <div class="card" *ngFor="let shouts of allShouts">
          <div class="d-flex justify-content-between p-2 px-3">
            <div class="d-flex flex-row align-items-center">
              <img
                *ngIf="shouts.userProfile; else elseBlock"
                [src]="shouts.userProfile"
                width="50"
                height="50"
                class="rounded-circle"
              />
              <ng-template #elseBlock>
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1024px-Circle-icons-profile.svg.png"
                  alt="Admin"
                  class="rounded-circle"
                  width="50"
                />
              </ng-template>
              <div class="d-flex flex-column ml-2">
                <span class="font-weight-bold">{{
                  shouts.userId | titlecase
                }}</span>
                <small class="text-primary"></small>
              </div>
            </div>
            <div class="d-flex flex-row mt-1 ellipsis">
              <small class="mr-2">{{ shouts.created_at }}</small>
              <div class="dropdown" style="float:left;">
                <i class="dropbtn fa fa-ellipsis-h "></i>
                    <div class="dropdown-content" *ngIf="shouts.userId!=id">
                      <div class="card">
                        <div class="card-body">
                          <h5>
                              Reason to Report 
                            </h5>
                            <form #reportForm="ngForm" (ngSubmit)="report(reportForm,shouts.id)">
                            <input type="text" id=report{{shouts.id}}>
                            <button type="submit" class="btn btn-primary">Report</button>
                          </form>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
          </div>
      <embed *ngIf="shouts.type == 'text' " [attr.src]=shouts.file />
    
          <img
            [src]="shouts.file"
            *ngIf="shouts.type == 'image'"class="img-fluid imgH"
          />
          <div *ngIf="shouts.type == 'audio'" style="height: 50px;width: 100px; padding-left: 230px;" >
          <audio controls class="d-flex">
            <source  [src]="shouts.file" type="audio/ogg">
            <source  [src]="shouts.file" type="audio/mpeg">
         </audio>
        </div>
        
            <video *ngIf="shouts.type == 'video'"
              id="myVideo"
              class="img-fluid imgH"
              
              loop
              controls
              muted
            >
              <source [src]="shouts.file" type="video/mp4" />
            </video>
      
          <div class="p-2">
            <p class="text-justify">{{ shouts.caption }}</p>
            <hr />
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex flex-row icons d-flex align-items-center">
                &nbsp; &nbsp;<a (click)="like(shouts)"
                  ><i class="fa fa-heart" id="{{ shouts.id }}">{{
                    shouts.likes
                  }}</i></a
                ><a (click)="dislikes(shouts)"
                  ><i class="fa fa-thumbs-down ml-4" id="dis{{ shouts.id }}">
                    {{
                      shouts.dislikes
                    }}
                  </i></a
                >
              </div>
              <!-- <div class="d-flex flex-row muted-color">
                <span>{{allComments.length}} comments</span>
              </div> -->
            </div>
            <hr />
            <div class="comments">
              <div *ngFor="let cmt of allComments">
                <div
                  class="d-flex flex-row mb-2"
                  *ngIf="cmt.shoutId == shouts.id"
                >
                  <img *ngIf="cmt.userProfile; else nextImage"
                    [src]=cmt.userProfile
                    width="40"
                    class="rounded-image"
                  />
                  <ng-template #nextImage>
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1024px-Circle-icons-profile.svg.png"
                      width="40"
                    class="rounded-image">
                  </ng-template>
                  <div class="d-flex flex-column ml-2">
                    <b class="comment-text">{{ cmt.userId | titlecase }}</b>
                    <div class="comment-text">{{ cmt.comment }}</div>
                    <div class="d-flex flex-row align-items-center status">
                      <a (click)="likeComment(cmt)" style="color: blue"
                        ><i class="fa fa-thumbs-up ml-4" id="com{{ cmt.id }}">{{
                          cmt.likes
                        }}</i></a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <form #myForm="ngForm" (ngSubmit)="addComment(myForm, shouts.id)">
                <div class="comment-input">
                  <input
                    type="text"
                    id="comment{{ shouts.id }}"
                    class="form-control"
                    minlength="4"
                  />
                  <!-- <div class="fonts"> <i class="fa fa-camera"></i> </div> -->

                  <div class="fonts">
                    <button
                      type="submit"
                      style="background: transparent; border: transparent"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-send"
                      >
                        <line x1="22" y1="2" x2="11" y2="13"></line>
                        <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                      </svg>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--  </div> -->
      <!-- right wrapper start -->
      
      <div class="col-lg-4 col-md-12 sticky-top" style="align-self: flex-start; margin-left: 40px;">
 
        <div class="card rounded">
          <div class="card-body">
 <br>
 
            <div style="text-align: center;">
              <img *ngIf="imageUrl; else elseimage" name="profilePic" class="rounded-circle p-1 bg-dark"
                [src]="imageUrl" style="height:120px; width:120px !important" alt="profile" />
 
              <ng-template #elseimage>
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1024px-Circle-icons-profile.svg.png"
                  style="height:120px; width:120px !important" alt="Admin" class="img-xs rounded-circle" width="200">
              </ng-template>
 
              <br><br>
              <span class="profile-name" style="font-weight: bold;font-size: 30px;">{{user.userName|titlecase}}</span>
            </div>
            <!-- <div class="d-flex align-items-center justify-content-between mb-2">
              <h6 class="card-title mb-0">About</h6>
            </div> -->
            <div style="text-align: center;">
              <div class="mt-3">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Email:</label>
                <p class="text-muted">{{ user.userEmail }}</p>
              </div>
              <div class="mt-3">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Joined:</label>
                <p class="text-muted">
                  {{ user.created_at | date: "mediumDate" }}
                </p>
              </div>
              <div class="mt-3">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Lives:</label>
                <p class="text-muted">{{ user.address }}</p>
              </div>
 
              <div class="mt-3">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Works At:</label>
                <p class="text-muted">{{ user.workingAt }}</p>
              </div>
              
              <div class="mt-3">
                <div class="d-none d-md-block ">
                
                  <a href="/newpost" class="btn btn-primary btn-icon-text btn-edit-profile" style="margin-bottom:5px;">
                    <i style="margin-top:0px;" class="material-icons">&#xe3b6;</i>
                 
                   New Post
                  </a>
               
              </div>
              </div>
            </div>
          </div>
        </div>
 
      </div>
      <!-- right wrapper end -->
    </div>
  </div>
  <!-- <ng-template #elseShout>
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-md-9">
          <div class="card">
              <div class="d-flex justify-content-between p-2 px-3">
                  <div class="d-flex flex-row align-items-center"> <img src="../../../assets/images/Profile-Wallpaper-Pics-Free.jpg" width="50" class="rounded-circle">
                      <div class="d-flex flex-column ml-2"> <span class="font-weight-bold">ShoutBox!</span>  </div>
                  </div>
                  <div class="d-flex flex-row mt-1 ellipsis"> <small class="mr-2">20 mins</small> <i class="fa fa-ellipsis-h"></i> </div>
              </div> <img src="https://i.imgur.com/xhzhaGA.jpg" class="img-fluid">
              <div class="p-2">
                  <p class="text-justify">Welcome to ShoutBox. Showering you with our default post!</p>
                  <hr>
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex flex-row icons d-flex align-items-center"> <i class="fa fa-heart"></i> <i class="fa fa-smile-o ml-2"></i> </div>
                     
              </div>
          </div>
      </div>
   
  </div>-->
</div>
<script></script>
