body{
    margin-top:20px;
    background-color: #f4f6f9;
}
.card {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background: #fff;
    border-radius: .1875rem;
    margin-bottom: 30px;
    border: 0;
    display: inline-block;
    position: relative;
    width: 100%;
    box-shadow: none;
}
.card .header {
    color: #424242;
    padding: 20px;
    position: relative;
    box-shadow: none;
}
.card .header h2 {
    color: #757575;
    position: relative;
}
.card .header h2:before {
    background: #6572b8;
}

.card .header h2::before {
    position: absolute;
    width: 2px;
    height: 18px;
    left: -20px;
    top: 0;
    content: '';
}
.theme-purple .card .header h2 strong {
    color: #6572b8;
}
.card .header h2 small {
    color: #9e9e9e;
    line-height: 15px;
}
.card .body {
    color: #424242;
    font-weight: 400;
    padding: 20px;
}
.new_friend_list {
    margin-bottom: 0px;
}

.new_friend_list li .users_name {
    color: #424242;
    text-transform: capitalize;
    font-weight: bold;
    
}
.new_friend_list li .users_name {
    margin-top: 5px;
}
.new_friend_list li .users_name{
 margin-bottom: 0px;
}
.new_friend_list li .join_date {
    color: #757575;
    font-weight: bold;
    
  
}

a {
    outline: none !important;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}


/*********************************************////////////////////////////////




@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";
body,
.badgescard,
.firstinfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    min-height: 100%;
    background: #00bcd4;
    font-size: 16px;
    overflow: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.content {
    position: relative;
    animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
}
.card:after {
    content: '';
    display: block;
    width: 190px;
    height: 300px;
   // background: cadetblue;
    position: absolute;
    animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}

.badgescard {
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #00bcd4;
    color:#fff;
    width: 480px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: -1;
    left: 10px;
    bottom: 10px;
    animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s forwards;
}

.badgescard span {
    font-size: 1.6em;
    margin: 0px 6px;
    opacity: 0.6;
}

.firstinfo {
    flex-direction: row;
    z-index: 2;
    position: relative;
}

.firstinfo img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.firstinfo .profileinfo {
    padding: 0px 20px;
}

.firstinfo .profileinfo h1 {
    font-size: 1.8em;
}
.firstinfo .profileinfo h3 {
    font-size: 1.2em;
    color: #00bcd4;
    font-style: italic;
}

.firstinfo .profileinfo p.bio {
    padding: 10px 0px;
    color: #5A5A5A;
    line-height: 1.2;
    font-style: initial;
}

@keyframes animatop {
    0% {
        opacity: 0;
        bottom: -500px;
    }
    100% {
        opacity: 1;
        bottom: 0px;
    }
}

@keyframes animainfos {
    0% {
        bottom: 10px;
    }
    100% {
        bottom: -42px;
    }
}

@keyframes rotatemagic {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        top: -24px;
        left: -253px;
    }
    100% {
        transform: rotate(-30deg);
        top: -24px;
        left: -78px;
    }
}
.icons i {
    font-size: 25px
}

.icons .fa-heart {
    color: red
}
.fonts {
    position: absolute;
    right: 13px;
    top: 8px;
    color: #a09c9c
}
.comment-input {
    position: relative
}
.form-control {
    border-radius: 26px
}











