<form #f="ngForm" (ngSubmit)="onSubmitform(f)">
  <div class="modal-body">
    <img
      style="margin-left: 120px; height: 250px; width: 250px"
      [src]="imgSrc || 'http://placehold.it/180'"
      alt="your image"
    />
    
  </div>
  <div class="modal-footer">
    <input type="file" name="myFile" (change)="onFileChanged($event)" />
    <input type="text" name="text" [(ngModel)]="captionString"/>
    <button>Upload Image</button>
  </div>
</form>




<form #f1="ngForm" (ngSubmit)="createFile(f1)">
  <h1>File Save</h1>
    <input type="textarea" name="text" />
    <input type="text" name="text" [(ngModel)]="captionString"/>
    <button>Create File</button>

</form>

