<!-- <form #f="ngForm" (ngSubmit)="onSubmitform(f)">
  <div class="modal-body">
    <img *ngIf=!show
      style="margin-left: 120px; height: 250px; width: 250px"
      [src]="imgSrc || 'http://placehold.it/180'"
      alt="your image"
    />
    <video *ngIf=show width="320" height="240" controls>
      <source [src]=imgSrc type="video/mp4">
    </video>
    
  </div>
  <div class="modal-footer">
    <input type="file" name="myFile" (change)="onFileChanged($event)" />
    <input type="text" name="text" [(ngModel)]="captionString"/>
    <button>Upload Image</button>
  </div>
</form>




<form #f1="ngForm" (ngSubmit)="createFile(f1)">
  <h1>File Save</h1>
    <input type="textarea" name="text" />
    <input type="text" name="text" [(ngModel)]="captionString"/>
    <button>Create File</button>

</form>

 -->
<div class="container">
 <div class="row">
  <div class="col-md-7">
    <div class="card text-left" style="height: auto; margin-left: 90px; height: 200x; width: 490px">
      <div class="card-header" style="background:cornflowerblue">
       <h4><b>Upload Image</b></h4>
      </div>
      <div class="card-body">
        
        <form #f="ngForm" (ngSubmit)="onSubmitform(f)">
          <div class="form-outline">
            <div class="modal-body">
              <img *ngIf=!show style="margin-left: 95px; height: 200px; width: 200px" [src]="imgSrc || 'http://placehold.it/180'" alt="your image"/>
              <video *ngIf=show width="200px" height="200px" controls>
                <source [src]=imgSrc type="video/mp4">
              </video>
            </div>
            <div class="modal-footer" style="margin-left:40px">
              <input type="file"  name="myFile" (change)="onFileChanged($event)" />
             
                <textarea class="form-control"type="text" placeholder="add caption" name="text" [(ngModel)]="captionString" rows="1"></textarea>
                <button class="btn btn-primary">Upload Shout</button>
              
               
                   
            </div>
          </div>
        </form> 
      </div>
      
    </div>
</div>
  <div class="col-md-5">
    <div class="card" style="margin-left:20px !important;">
      <div class="card-header" style="background:cornflowerblue">
        <h4><b>Add Thoughts</b></h4>
      </div>
      <div class="card-body">
        <form #f1="ngForm" (ngSubmit)="createFile(f1)">
          
          <div class="form-outline">
            <textarea class="form-control" name="text" [(ngModel)]="thoughts" id="textAreaExample2" rows="7"></textarea>
            <input type="text" name="text1" [(ngModel)]="captionStr" class="form-control"/>
            <button  class="btn btn-primary mt-3">Share Thoughts</button>
          </div>
        
           </form> 
          </div>
        
      </div> 
    </div>


</div>
</div> 
